<div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
  <div class="col" *ngFor="let noticia of listNoticias">
    <div class="card bg-secondary">
      <img
        [src]="noticia.urlToImage"
        loading="lazy"
        class="card-img-top"
        alt="imagen"
      />
      <div class="card-body">
		  <span class="badge btn-outline-dark mb-3">{{ noticia.source.name }}</span>
        <h5 class="card-title text-dark">{{ noticia.title }}</h5>
        <p class="card-text">
          {{ noticia.description }}
        </p>
		<a [href]="noticia.url" target="_blank">Ver noticia</a>
      </div>
    </div>
  </div>
</div>
